.hero {
    //background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 0%, var(--primary-color) 35%, var(--accent-color) 100%);
    background: #FFFF;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(90, 74, 126, 1) 90%, rgba(61, 47, 92, 1) 100%);
    color: var(--text-dark);
    height: 50vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        position: relative;
        z-index: 1;
    }
}

.hero-content {
    h1 {
        color: var(--black);
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }

    p {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .hero-content {
        h1 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .hero {
        padding: 60px 0;
    }
}

.video-background {
    position: absolute;
    opacity: .2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    width: auto;
    height: 100%;
    object-fit: contain;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
}