<section id="about" class="about">
    <div class="container">
        <h2>Chi sono</h2>
        <div class="btn-container">
            <span class="btn btn-primary"><i class="fa-solid fa-building-columns"></i><a [routerLink]="['/cert']">Certificazioni</a></span>
            <span class="btn btn-primary"><i class="fa-solid fa-award"></i><a target="_blank" href="/assets/curriculum.docx" >Curriculum</a></span>
            @if (titolare.linkOrdine) {
                <span class="btn btn-primary"><i class="fa-solid fa-stamp"></i><a target="_blank" href="{{titolare.linkOrdine}}" >Ordine degli psicologi</a></span>
            }
        </div>
        <div class="about-grid">
            <div class="about-image">
                <div class="profile-placeholder">
                    <img
                        src="{{titolare.image}}"
                        alt="Foto di {{titolare.name}}"
                        style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 0;"
                    >
                </div>
            </div>
            <div class="about-content">
                <h3>{{titolare.name}}</h3>

                <p><strong>{{titolare.sub1}}</strong></p>
                <p>{{titolare.sub2}}</p>
                <p>Specializzato in:</p>
                <ul>
                    @for (tit of titolare.spec; track tit) {
                        <li>{{ tit }}</li>
                    }
                </ul>

                <div class="credentials">
                    <div class="credential-item">
                        <h4>Formazione</h4>
                        <ul>
                            @for (tit of titolare.formazione; track tit) {
                                <li>{{ tit }}</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>